* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.btn-primary {
  border-radius: 0.8rem;
  color: #141414;
  background-color: #FEDC56;
  font-weight: 700;
  border: none;
  padding: 0.7rem 2rem;
}

.channel-page .channel-page-wrapper, .discover .discover-wrapper, .banner .wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .channel-page .channel-page-wrapper, .discover .discover-wrapper, .banner .wrapper {
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.banner {
  max-width: 100%;
  background-color: #222121;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.channel-page {
  background-position: center;
  background-size: contain;
}

.discover .discover-wrapper .discover-content .search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-page .channel-page-wrapper, .banner .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.channel-page .channel-page-wrapper .channel-page-content-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.channel-page .channel-page-wrapper, .discover, .banner .wrapper {
  width: 100%;
  height: 100vh;
}

.banner {
  background-image: url("../../images/app_banner.png");
}
.banner .wrapper {
  text-align: center;
  padding: 2rem 0;
}
.banner .wrapper h3 {
  padding-top: 2rem;
  color: #fff;
}
.banner .wrapper h3 span {
  color: #FEDC56;
}

.discover {
  background-color: #222121;
  color: #fff;
  overflow-y: auto;
}
.discover .discover-wrapper .discover-content .heading-wrapper {
  display: flex;
}
.discover .discover-wrapper .discover-content .heading-wrapper h1 {
  font-size: 2.25rem;
  margin-right: 0.5rem;
}
.discover .discover-wrapper .discover-content .heading-wrapper svg {
  margin-top: 0.6rem;
}
.discover .discover-wrapper .discover-content .search-wrapper {
  margin-bottom: 2rem;
  width: 100%;
}
.discover .discover-wrapper .discover-content .search-wrapper .search-group-input {
  width: 100%;
  margin-right: 1rem;
}
.discover .discover-wrapper .discover-content .search-wrapper .search-group-input input {
  height: 2.5rem;
  background-color: #141414;
  outline: none;
  width: 100%;
  color: #fff;
  padding-left: 0.5rem;
  font-size: 1rem;
}
.discover .discover-wrapper .discover-content .search-wrapper .search-group-input input::-moz-placeholder {
  padding-left: 0.5rem;
  font-size: 1rem;
}
.discover .discover-wrapper .discover-content .search-wrapper .search-group-input input::placeholder {
  padding-left: 0.5rem;
  font-size: 1rem;
}
.discover .discover-wrapper .discover-content .search-wrapper .search-group-hamburger {
  margin-right: 1rem;
}
.discover .discover-wrapper .discover-content .search-wrapper .search-group-search {
  background-color: #FEDC56;
  padding: 0.3rem;
  border-radius: 0.8rem;
}
.discover .discover-wrapper .discover-content .discover-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-bottom: -15px;
}
.discover .discover-wrapper .discover-content .discover-content-wrapper a {
  color: #fff;
  text-decoration: none;
}
.discover .discover-wrapper .discover-content .discover-content-wrapper .card {
  width: 100%;
}
.discover .discover-wrapper .discover-content .discover-content-wrapper .card p {
  color: #cacaca;
}
@media (min-width: 585px) {
  .discover .discover-wrapper .discover-content .discover-content-wrapper .card {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .discover .discover-wrapper .discover-content .discover-content-wrapper .card {
    width: 33.333%;
  }
}
.discover .discover-wrapper .discover-content .discover-content-wrapper .card .card-inner {
  margin-right: 15px;
  margin-bottom: 15px;
}
.discover .discover-wrapper .discover-content .discover-content-wrapper .card .card-inner img {
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  border: 0.1rem solid #ececec;
}

.channel-page {
  background-image: url("../../images/channel_background.jpg");
  color: #fff;
}
.channel-page .channel-page-wrapper .channel-page-content-two img {
  margin-bottom: 0.5rem;
}
.channel-page .channel-page-wrapper .channel-page-content-two p {
  margin-bottom: 0;
  font-size: 0.8125rem;
  color: #cacaca;
}/*# sourceMappingURL=global.css.map */