@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins" as mix;
@use "sass:math";

.channel-page {
  @extend %channel-background-image-setup;
  background-image: url("../../images/channel_background.jpg");
  color: var.$text-color-primary;
  .channel-page-wrapper {
    @extend %wrap;
    @extend %flex-between-column;
    @extend %w-100-h-100;
    .channel-page-content-two {
      @extend %flex-center-column;
      img {
        margin-bottom: 0.5rem;
      }
      p {
        margin-bottom: 0;
        font-size: var.$font-size-small;
        color: var.$text-color-gray;
      }
    }
  }
}
