@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins" as mix;
@use "sass:math";

.channel-page {
  color: var.$text-color-primary;
  background-color: var.$background-color-primary;
  padding-bottom: calc(61px + 1rem);
  .channel-page-container {
    @extend %wrap;
    .channel-page-wrapper {
      @extend %w-100-h-100;
      overflow-y: auto;
      .channel-page-content-two {
        @extend %flex-center-column;
        img {
          margin-bottom: 0.5rem;
        }
        p {
          margin-bottom: 0;
          font-size: var.$font-size-small;
          color: var.$text-color-gray;
        }
      }
    }
  }
}
