@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins" as mix;
@use "sass:math";

.discover {
  @extend %w-100-h-100;
  background-color: var.$background-color-primary;
  color: var.$text-color-primary;
  overflow-y: auto;
  .discover-wrapper {
    @extend %wrap;
    .discover-content {
      .heading-wrapper {
        display: flex;
        h1 {
          font-size: var.$heading-size-medium;
          margin-right: 0.5rem;
        }
        svg {
          margin-top: 0.6rem;
        }
      }
      .search-wrapper {
        @extend %flex-between;
        margin-bottom: 2rem;
        width: 100%;
        .search-group-input {
          width: 100%;
          margin-right: 1rem;
          input {
            height: 2.5rem;
            background-color: var.$background-color-secondary;
            outline: none;
            width: 100%;
            color: var.$text-color-primary;
            padding-left: 0.5rem;
            font-size: var.$font-size-base;
            &::placeholder {
              padding-left: 0.5rem;
              font-size: var.$font-size-base;
            }
          }
        }
        .search-group-hamburger {
          margin-right: 1rem;
        }
        .search-group-search {
          background-color: var.$text-color-yellow;
          padding: 0.3rem;
          border-radius: var.$border-radius;
        }
      }
      .discover-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-bottom: -15px;
        a {
          color: var.$text-color-primary;
          text-decoration: none;
        }
        .card {
          width: 100%;
          p {
            color: var.$text-color-gray;
          }
          @include mix.custom-tablet-styles {
            width: 50%;
          }
          @include mix.laptop-m-styles {
            width: 33.333%;
          }
          .card-inner {
            margin-right: 15px;
            margin-bottom: 15px;
            img {
              margin-bottom: 0.5rem;
              border-radius: var.$card-border-radius;
              border: 0.1rem solid var.$border-placeholder-color;
            }
          }
        }
      }
    }
  }
}
