@use "../abstracts/variables" as var;
@use "sass:math";


img {
  max-width: 100%;
}
h1 {
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1rem;
}
.btn-primary {
  border-radius: var.$border-radius;
  color: var.$text-color-secondary;
  background-color: var.$text-color-yellow;
  font-weight: var.$font-weight-bold;
  border: none;
  padding: 0.7rem 2rem;
}
